* {
    margin: 0l;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}



.template-edit {
    color: black;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size:16px;

    &:hover {
        color: rgb(44, 44, 44);
    }

    @media(max-width:576px) {
        top: 20px;
        right: 20px;
        font-size: 13px;
    }
}

input,
textarea {
    border: 1px gray dotted;
    background-color: transparent;
    width: inherit;
    display: inline-block;
    overflow-x: hidden;

    &::-webkit-resizer {
        display: none;
    }
}
input::placeholder,textarea::placeholder {
    color: black;
  }

.social-input {
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-left: 25px;
}




// navbar
nav.bg-light {
    background-color: white !important;

    .navbar-brand {
        margin-left: 30px;
        font-weight: 500;

        @media(max-width:576px) {
            margin-left: 10px;
        }
    }

    .logo-title {
        color: black;
        font-size: 20px;
        text-transform: uppercase;
    }

    .nav-item {
        margin-right: 50px;

        a {
            font-weight: 700;
        }
    }





    // edit

    .upload-logo {
        height: 100px;
        width: 100px;
        font-size: 13px;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;

        .uploaded-logo-img {
            height: 100%;
            width: 100%;
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
        }
    }
}

// header

header {
    height: 750px;
    width: 100vw;
    // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/header.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media(max-width:576px) {
        height: 550px;
    }

    .row {
        width: 100%;
        padding: 50px;

        @media(max-width:576px) {
            padding: 0px !important;
        }

        .header-title {
            font-size: 40px;
            text-transform: uppercase;
            font-weight: 400;
            font-family: 'Raleway', sans-serif;
            color: white;
            text-align: left;

            @media(max-width:576px) {
                font-size: 30px;
            }
        }

        .header-desc {
            color: rgb(204, 202, 202);
            font-size: 16px;

            @media(max-width:576px) {
                font-size: 13px;
            }
        }

        .btn {
            font-weight: 600;
            padding: 6px 48px;

            @media(max-width: 576px) {
                padding: 6px 20px;
                font-size: 13px;

            }
        }

        span {
            font-size: 25px;
        }

        .watch {
            border-radius: 100%;
            padding: 6px 12px;
            margin-left: 0;

        }
    }


    // edit

    .edit-header-background {
        font-size: 14px;
        position: absolute;
        top: 650px;
        left: 15px;
        cursor: pointer;


        @media(max-width:576px) {
            top: 520px;
        }

        svg {
            font-size: 30px;
        }

        &:hover {
            color: rgb(43, 42, 42);
        }

        .uploaded-header-img {
            height: 100%;
            width: 100%;
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
        }
    }

}

// about

#about {
    margin-top: 100px;

    h2 {
        @media(max-width:576px) {
            font-size: 25px;
        }
    }



    .head {
        margin-top: 120px;
        margin-bottom: 70px;
        color: #0E4D81;
        font-size: 32px;
        text-align: center;

        @media(max-width:576px) {
            font-size: 25px;
            margin-top: 30px;
            margin-bottom: 40px;
        }
    }

    .about-desc {
        color: rgb(32, 32, 32);
        font-weight: 500;
        text-align: center;

        @media(max-width:576px) {
            font-size: 13px;
        }
    }

    .about-body {
        padding: 0;
    }

}

// services

#services {
    margin-top: 150px;
    margin-bottom: 150px;

    @media(max-width:576px) {
        font-size: 30px;
        margin-bottom: 100px;
        margin-top: 100px;
    }

    .service-head {
        margin-bottom: 150px;

        @media(max-width:576px) {
            margin-bottom: 50px;
        }

        .head {
            margin-top: 120px;
            margin-bottom: 70px;
            font-weight: 400;

            @media(max-width:576px) {
                font-size: 25px;
            }
        }

        .services-desc {
            color: gray;
            letter-spacing: 1px;
            text-align: center;

            @media(max-width:576px) {
                font-size: 13px;
            }
        }
    }

    .service-body {

        span {
            margin-right: 20px;
            color: #4F7CA3;
            font-size: 28px;

            @media(max-width:576px) {
                font-size: 40px;
            }
        }

        .service {
            .service-title {
                color: #4F7CA3;
                display: inline;
                font-size: 28px;

                @media(max-width:576px) {
                    font-size: 25px;
                    text-align: center;
                }
            }


            svg {
                margin-bottom: 10px;
                margin-right: 10px;
            }

            .service-desc {
                color: gray;
                word-spacing: 1px;
                font-size: 16px;
                margin-top: 10px;

                @media(max-width:576px) {
                    font-size: 13px;
                }
            }

            @media(max-width:768px) {
                text-align: center;
                margin-bottom: 40px;
            }

        }

    }



    .edit-service {
        top: 15px;
        right: 15px;
    }

}

// contacts

#contact {
    padding-bottom: 100px;
    padding-top: 100px;
    margin-bottom: 150px;
    // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/footer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .contact-head {
        h2 {
            margin-top: 50px;
            margin-bottom: 50px;
            font-weight: 400;
            text-transform: uppercase;

            @media(max-width:576px) {
                font-size: 25px;
            }
        }

        .contact-desc {
            width: 70%;
            margin: 80px auto;
            color: gray;
            letter-spacing: 2px;
            font-size: 16px;
            text-align: center;

            @media(max-width:576px) {
                width: 95%;
                letter-spacing: 1px;
                font-size: 13px;
                margin: 40px auto;
            }
        }
    }

    .contact-body {
        h5 {
            margin-bottom: 50px;

            @media(max-width:576px) {
                font-size: 17px;
                margin-bottom: 20px;
                margin-left: 10px;
            }

            .contact-info {
                color: gray;
                margin: 0 !important;
                margin-left: 10px !important;
            }
        }

        .social {
            margin-bottom: 150px;

            @media(max-width:576px) {
                margin-bottom: 75px;
            }

            h5 {
                margin-bottom: 20px;
            }

            a {
                color: gray;
                font-size: 20px;
                text-decoration: none;
                margin: 10px;
            }

            a:hover {
                color: black;
                text-decoration: none;
            }

        }

        @media(max-width:576px) {
            text-align: left !important;
        }


    }

    .card-body {
        border-radius: 10px;

        @media(max-width:576px) {
            padding: 0;
        }
    }

    .card {
        background-color: #ffffffe6 !important;
    }


    .edit-contact {
        top: 15px;
        right: 15px;
    }

    // edit

    .edit-contact-background {
        font-size: 14px;
        position: relative;
        left: 15px;
        cursor: pointer;
        top: 50px;
        color: white;
        text-align: center;


        svg {
            font-size: 30px;
        }

        &:hover {
            color: rgb(43, 42, 42);
        }

        .uploaded-contact-img {
            height: 100%;
            width: 100%;
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
        }
    }
}

// footer

footer {
    background-color: #F8F8F8;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;

    @media(max-width:576px) {
        font-size: 15px;
    }

    span {
        color: #386182;
    }
}